<html>
    <head>
        <title> Classificação  </title>
    </head>
    <body>
        <h1>Perguntas da classificação: {{classficacao.id}}</h1>
        <u>Classificacao:</u> {{classificacao.titulo}}</br>
        <u>Descricao</u>{{classificacao.descricao}}</br>
        <u>Data de Publicação</u>: {{classificacao.data_criacao}}

        <ol>
            {% for pergunta in classificacao.pergunta_set.all %}
                <li>
                    <a href="{% url 'main:detalhes' pergunta.id %}">
                        {{ pergunta.texto }}
                    </a>
                </li>
            {% endfor %}

        </ol>


    </body>
</html>


