<html>
    <head>
        <title> App Enquete </title>
    </head>
    <body>
        <h1>Detalhes da Enquete {{pergunta.id}}</h1>

        <u>Pergunta</u>: {{ pergunta.texto }}</br>
        <u>Data de Publicação</u>: {{ pergunta.data_publicacao }}</br>
        <u>Classificação:</u> <a href="{% url 'main:classificacao' pergunta.classificacao.id %}"> {{ pergunta.classificacao.titulo }} </a>
        {% if error_mensage %}
            <hr>
            <strong>{{ error_message }}</strong>
        {% endif %}
        <form action="{% url 'main:votacao' pergunta.id %}" method="post">
            {% csrf_token %}

            <ul>
                {% for opcao in pergunta.opcao_set.all %}
                    <li>
                        <input type="radio" name="opcao"
                        id="opcao{{ forloop.counter }}" value = "{{ opcao.id }}" >
                        <label for="opcao{{ forloop.counter }}">
                            {{ opcao.texto }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Registre o seu voto">
        </form>


    </body>
</html>