{% load static %}
<html>
    <head>
        <title> App Enquete </title>
        <link rel="stylesheet" type"text/css" href="{% static 'main/style.css' %}">
    <head>
    <body>
        {% if ultimas_perguntas %}
            <h1>Listas das Últimas enquetes</h1>
            <ul>
                {% for pergunta in ultimas_perguntas %}
                    <li>
                        <a href="{% url 'main:detalhes' pergunta.id %}">
                             {{ pergunta.texto }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há enquetes cadastradas até o momento!</p>
        {% endif %}


    </body>

</html>