<html>
    <head>
        <title>Meu Diario :)</title>
    <!-- aqui eu listo as entradas -->
    </head>
    <body>
        {% if diario %}
            <h1>Diario: {{diario.nome_diario}}</h1>
            <a href="{% url 'diario:perfio' diario.dono.usuario.id %}">
                {{ diario.dono.usuario.nick }}
            </a>
            <ul>
                {% for entrada in diario.entrada_set.all %}
                    <li>
                        <a href="{% url 'diario:entrada' entrada.id %}">
                            {{entrada.titulo}}
                        </a>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <p>não há entradas cadastradas</p>
        {% endif %}

    </body>
</html>

<!--
<html>
    <head>
        <title>Meu Diario :)</title>

    </head>
    <body>
        {% if diario %}
            <h1>Diario: {{diario.nome_diario}}</h1>
            <ul>
                {% for entrada in diario.entrada_set.all %}
                    <li>
                        <a href="{% url 'diario:entrada' entrada.id %}">
                            {{ entrada.titulo}}
                        </a>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <p>não há entradas cadastradas</p>
        {% endif %}

    </body>
</html>
-->