<html>
    <!-- aqui eu detalho as entradas -->
    <head>
        <title>{{entrada.titulo}}</title>
    </head>
    <body>
        {% if entrada %}
            <h1>Entrada: {{entrada.titulo}}</h1></br></br>

            <p>
                {{entrada.texto}}
            </p>

        <!-- depois insira a imagem -->
        <figure>
            <img src= {{ entrada.imagem.url }} >
        </figure>

        {% else %}
            <p>entrada bugada</p>
        {% endif %}

    </body>
</html>