<html>
    <head>
        <title>Meu Diario</title>
    <!-- aqui eu listo os diarios -->
    </head>
    <body>
        {% if os_diarios %}
            <h1>Lista dos diarios</h1>
            <ul>
                 {% for diario in os_diarios %}
                    <li>
                        <a href="{% url 'diario:diario' diario.id %}">
                            {{ diario.nome_diario }}
                        </a>
                    </li>
                {% endfor %}
            </ul>


        {% else %}
            <p>não há diarios cadastrados</p>
        {% endif %}

    </body>
</html>

<!---
<html>
    <head>
        <title>Meu Diario</title>

    </head>
    <body>
        {% if os_diarios %}
            <h1>Lista dos diarios</h1>
            <ul>
                {% for diario in os_diarios %}
                    <li>
                        <a href="{% url 'diario:diario' diario.id %}">
                            {{ diario.nome_diario }}
                        </a>
                    </li>
                {% endfor %}
            </ul>


        {% else %}
            <p>não há diarios cadastrados</p>
        {% endif %}

    </body>

</html>
--->

