<html>
    <head>
        <title> Meu Perfio :) </title>
    </head>
    <body>
        <h1> Perfio </h1> </br>
        <p>Nick Name: {{usuario.nick}}</p> </br>
        <p>Data de Nasciemnto:{{ usuario.data_nascimento }} </p> </br>
        <p>Biografia: </br>{{ usuario.biografia }} </p>

    </body>
</html>
