<html>
    <head>
        <title> Home </title>
    <head>
    <body>
        <h1>Bem vindo a home</h1>
        <a href="{% url 'main:index' %}"> Aplicação enquete </a></br>
        <a href="{% url 'diario:index' %}"> Aplicação Diario </a>
    </body>
</html>